{% extends "base.html" %}

{% block content %}
        <h1>User Sign-up</h1>
        <form action= "/" method= 'post'>
            <div>
                <label>
                    Username:
                    <input type= "text" name= "username"/>
                    <span class= "error">{{username_error}}</span>
                </label>
            </div>
            <div>
                <label>
                    Password:
                    <input type= "password" name= "password"/>
                    <span class ="error">{{password_error}}</span>
                </label>
            </div>
            <div>
                <label>
                    Retype Password:
                    <input type= "password" name= "retype_password"/>
                    <span class = "error">{{retype_error}}</span>
                </label>
            </div>
            <div>
                <label>
                    Email (optional):
                    <input type= "test" name= "email"/>
                    <span class = "error">{{email_error}}</span>
                </label>
            </div>
            <div>
                <input type= "submit" value= "Signup!"/>
            </div>
        </form>


{% endblock %}