{% extends "base.html" %}

{% block content %}
        <h1>User Sign-up</h1>
        <form action= "/success" method= 'post'>
            <label>
                Username:
                <input type= "text" name= "username"/>
            </label>
            <br>
            <label>
                Password:
                <input type= "password" name= "password"/>
            </label>
            <br>
            <label>
                Retype Password:
                <input type= "password" name= "retype_password"/>
            </label>
            <br>
            <label>
                Email (optional):
                <input type= "test" name= "email"/>
            </label>
            <br>
            <input type= "submit"/>
        </form>


{% endblock %}